<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MainProgramm.Properties.Settings.virConnectionString" connectionString="Data Source=ANDRAS-NB\SQLSERVER;Initial Catalog=vir;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
